<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>

<div th:each="person: ${people}">
  <a th:href="@{/people/{id}(id=${person.getPersonId()})}"
     th:text="${person.getPersonName()}">user</a>
</div>

<br/>
<hr/>

<button><a style="text-decoration: none" th:href="@{/people/new}">Add new person</a></button>
<button><a style="text-decoration: none" th:href="@{/books}">List of books</a></button>

</body>
</html>