<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
  <label for="fullName">Name</label>
  <input type="text" th:field="*{fullName}" id="fullName">
  <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name error</div>
  <br/>
  <label for="yearOfBirth">Year of Birth</label>
  <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth">
  <div style="color: red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">YearOfBirth error</div>
  <br/>
  <input type="submit" value="Create"/>
</form>
</body>
</html>