<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBookId()})}" th:object="${book}">
  <label for="bookName">Title</label>
  <input type="text" th:field="*{bookName}" id="bookName">
  <div style="color: red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Title error</div>
  <br/>
  <label for="bookAuthor">Author</label>
  <input type="text" th:field="*{bookAuthor}" id="bookAuthor">
  <div style="color: red" th:if="${#fields.hasErrors('bookAuthor')}" th:errors="*{bookAuthor}">Author error</div>
  <label for="yearOfPublication">Year of publication</label>
  <input type="text" th:field="*{yearOfPublication}" id="yearOfPublication">
  <div style="color: red" th:if="${#fields.hasErrors('yearOfPublication')}" th:errors="*{yearOfPublication}">yearOfPublication error</div>
  <br/>
  <input type="submit" value="Update" />
</form>

</body>
</html>